In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import pandas as pd
data1 = pd.read_csv('/content/gdrive/MyDrive/healthkathon/sampling_healtkathon2022/sampling_healtkathon2022.csv')
data1

,id,id_peserta,dati2,typefaskes,usia,jenkel,pisat,tgldatang,tglpulang,jenispel,...,biaya,jenispulang,cbg,kelasrawat,kdsa,kdsp,kdsr,kdsi,kdsd,label
0,165666,486,17,KL,48,P,1.0,2018-07-25T17:00:00.000Z,2018-07-25T17:00:00.000Z,2,...,184300.0,1.0,Q-5-42-0,3,None,None,None,None,None,0
1,1010828,520,17,A,63,L,1.0,2019-05-27T17:00:00.000Z,2019-05-30T17:00:00.000Z,1,...,10628400.0,1.0,D-4-13-III,1,None,None,None,None,None,0
2,166042,523,17,KL,53,P,1.0,2019-07-16T17:00:00.000Z,2019-07-16T17:00:00.000Z,2,...,187300.0,1.0,Q-5-44-0,3,None,None,None,None,None,0
3,168937,549,17,KL,54,P,1.0,2019-10-17T17:00:00.000Z,2019-10-17T17:00:00.000Z,2,...,187300.0,1.0,Q-5-44-0,3,None,None,None,None,None,0
4,1005899,549,17,A,53,P,1.0,2018-04-18T17:00:00.000Z,2018-04-18T17:00:00.000Z,2,...,381600.0,1.0,Q-5-44-0,3,None,None,None,None,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11401877,9983563,8527704,301,B,0,P,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,...,3645100.0,1.0,P-8-17-I,3,None,None,None,None,None,0
11401878,11053870,8527709,233,A,0,P,4.0,2020-12-30T17:00:00.000Z,2021-01-03T17:00:00.000Z,1,...,12273200.0,1.0,P-8-13-II,2,None,None,None,None,None,0
11401879,7461049,8527751,118,B,0,L,4.0,2020-12-30T17:00:00.000Z,2021-01-06T17:00:00.000Z,1,...,4099000.0,1.0,P-8-08-I,3,None,None,None,None,None,0
11401880,1075162,8527853,101,SC,0,L,5.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,...,3992400.0,1.0,P-8-08-I,3,None,None,None,None,None,0
11401881,102794,8527876,12,SD,0,P,4.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,...,1624900.0,1.0,P-8-16-I,3,None,None,None,None,None,0

In [ ]:
data1 = data1.sort_values(by='id', ascending=True)
data1

,id,id_peserta,dati2,typefaskes,usia,jenkel,pisat,tgldatang,tglpulang,jenispel,...,biaya,jenispulang,cbg,kelasrawat,kdsa,kdsp,kdsr,kdsi,kdsd,label
11328419,1,4294260,1,SD,34,L,1.0,2017-12-31T17:00:00.000Z,2018-01-03T17:00:00.000Z,1,...,2635000.0,2.0,J-4-21-I,3,None,None,None,None,None,0
4732811,2,1173029,1,SD,9,P,4.0,2018-01-01T17:00:00.000Z,2018-01-01T17:00:00.000Z,2,...,187300.0,1.0,Q-5-44-0,3,None,None,None,None,None,0
3615269,3,6714367,1,SD,37,L,1.0,2018-01-02T17:00:00.000Z,2018-01-02T17:00:00.000Z,2,...,187300.0,2.0,Q-5-44-0,3,None,None,None,None,None,0
3211011,4,1168460,1,SD,44,P,3.0,2018-01-02T17:00:00.000Z,2018-01-04T17:00:00.000Z,1,...,2490300.0,1.0,M-4-17-I,3,None,None,None,None,None,0
5489306,5,1014590,1,SD,15,P,4.0,2018-01-02T17:00:00.000Z,2018-01-06T17:00:00.000Z,1,...,1582000.0,1.0,K-4-18-I,1,None,None,None,None,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474584,11426953,980654,386,D,51,L,1.0,2020-12-11T17:00:00.000Z,2020-12-11T17:00:00.000Z,2,...,285700.0,1.0,U-3-16-0,3,None,None,None,None,None,0
3379363,11426954,2176337,386,D,31,P,3.0,2020-12-14T17:00:00.000Z,2020-12-14T17:00:00.000Z,2,...,186800.0,1.0,Q-5-44-0,3,None,None,None,None,None,0
9920496,11426955,2228160,386,D,54,P,3.0,2020-12-14T17:00:00.000Z,2020-12-14T17:00:00.000Z,2,...,183800.0,1.0,Q-5-42-0,3,None,None,None,None,None,0
7941957,11426956,2192754,386,D,48,L,1.0,2020-12-18T17:00:00.000Z,2020-12-18T17:00:00.000Z,2,...,188700.0,1.0,Q-5-26-0,3,None,None,None,None,None,0
1405002,11426957,2212167,386,D,47,P,3.0,2020-12-02T17:00:00.000Z,2020-12-02T17:00:00.000Z,2,...,133000.0,1.0,Q-5-25-0,3,None,None,None,None,None,0

In [ ]:
data1['label'].value_counts()

0    11244993
1      156889
Name: label, dtype: int64

In [ ]:
df = data1

In [ ]:
df

,id,id_peserta,dati2,typefaskes,usia,jenkel,pisat,tgldatang,tglpulang,jenispel,...,biaya,jenispulang,cbg,kelasrawat,kdsa,kdsp,kdsr,kdsi,kdsd,label
4972960,5205817,6069898,51,B,28,L,1.0,2019-07-17T17:00:00.000Z,2019-07-17T17:00:00.000Z,2,...,NaN,1.0,Q-5-44-0,3,None,None,None,None,None,1
10890771,478976,5386227,46,C,11,L,4.0,2018-07-16T17:00:00.000Z,2018-07-17T17:00:00.000Z,1,...,3730200.0,1.0,L-1-40-I,3,None,None,None,None,None,1
1934098,1368497,6320192,112,C,48,L,1.0,2019-02-26T17:00:00.000Z,2019-02-26T17:00:00.000Z,2,...,184700.0,1.0,F-5-14-0,3,None,None,None,None,None,1
9371915,11397717,5507444,364,C,30,P,3.0,2018-06-27T17:00:00.000Z,2018-06-27T17:00:00.000Z,2,...,NaN,1.0,Z-3-27-0,3,None,None,None,None,None,1
4007663,7244025,3340328,120,C,41,P,1.0,2018-10-03T17:00:00.000Z,2018-10-03T17:00:00.000Z,2,...,194500.0,1.0,F-5-14-0,3,None,None,None,None,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3826708,2096276,1630386,130,SB,70,P,3.0,2020-11-24T17:00:00.000Z,2020-11-28T17:00:00.000Z,1,...,4227600.0,1.0,D-4-13-II,3,None,None,None,None,None,0
3826709,7525084,1630386,130,B,67,P,3.0,2018-04-16T17:00:00.000Z,2018-04-16T17:00:00.000Z,2,...,196500.0,1.0,F-5-14-0,3,None,None,None,None,None,0
3826710,2092640,1630386,130,SB,70,P,3.0,2020-06-14T17:00:00.000Z,2020-06-17T17:00:00.000Z,1,...,1718000.0,1.0,K-4-17-I,3,None,None,None,None,None,0
3826711,2075609,1630390,129,SC,50,L,1.0,2019-07-24T17:00:00.000Z,2019-07-24T17:00:00.000Z,2,...,185000.0,1.0,Q-5-44-0,3,None,None,None,None,None,0
11401881,102794,8527876,12,SD,0,P,4.0,2020-12-29T17:00:00.000Z,2020-12-31T17:00:00.000Z,1,...,1624900.0,1.0,P-8-16-I,3,None,None,None,None,None,0

In [ ]:
df.isnull().sum()

id                   0
id_peserta           0
dati2                0
typefaskes           0
usia                 0
jenkel              49
pisat              190
tgldatang            0
tglpulang            0
jenispel             0
politujuan     4041455
diagfktp          2530
biaya            57815
jenispulang         39
cbg                  0
kelasrawat           0
kdsa            198670
kdsp            197007
kdsr            198459
kdsi            198463
kdsd            195181
label                0
dtype: int64

In [ ]:
df['jenkel'].mode()

0    P
dtype: object

In [ ]:
df['jenkel'] = df['jenkel'].fillna('P')

In [ ]:
df['diagfktp'].mode()

0    Z09.8
dtype: object

In [ ]:
df['diagfktp'] = df['diagfktp'].fillna('Z09.8')

In [ ]:
havenull = ['pisat', 'politujuan', 'biaya','jenispulang', 'kdsp', 'kdsa', 'kdsr', 'kdsi', 'kdsd']
for i in havenull:
  df[i] = df[i].fillna(0)

In [ ]:
df.isnull().sum()

id             0
id_peserta     0
dati2          0
typefaskes     0
usia           0
jenkel         0
pisat          0
tgldatang      0
tglpulang      0
jenispel       0
politujuan     0
diagfktp       0
biaya          0
jenispulang    0
cbg            0
kelasrawat     0
kdsa           0
kdsp           0
kdsr           0
kdsi           0
kdsd           0
label          0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11401882 entries, 4972960 to 11401881
Data columns (total 22 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   id_peserta   int64
 2   dati2        int64
 3   typefaskes   object
 4   usia         int64
 5   jenkel       object
 6   pisat        float64
 7   tgldatang    object
 8   tglpulang    object
 9   jenispel     int64
 10  politujuan   object
 11  diagfktp     object
 12  biaya        float64
 13  jenispulang  float64
 14  cbg          object
 15  kelasrawat   int64
 16  kdsa         object
 17  kdsp         object
 18  kdsr         object
 19  kdsi         object
 20  kdsd         object
 21  label        int64
dtypes: float64(3), int64(7), object(12)
memory usage: 2.0+ GB

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df['kdsa'] = df['kdsa'].replace(0, '0')
df['kdsp'] = df['kdsp'].replace(0, '0')
df['kdsr'] = df['kdsr'].replace(0, '0')
df['kdsi'] = df['kdsi'].replace(0, '0')
df['kdsd'] = df['kdsd'].replace(0, '0')
df['politujuan'] = df['politujuan'].replace(0, '0')

In [ ]:
df['kdsa'] = le.fit_transform(df['kdsa'])
df['kdsp'] = le.fit_transform(df['kdsp'])
df['kdsr'] = le.fit_transform(df['kdsr'])
df['kdsi'] = le.fit_transform(df['kdsi'])
df['kdsd'] = le.fit_transform(df['kdsd'])
df['jenkel'] = le.fit_transform(df['jenkel'])
df['typefaskes'] = le.fit_transform(df['typefaskes'])
df['politujuan'] = le.fit_transform(df['politujuan'])
df['diagfktp'] = le.fit_transform(df['diagfktp'])
df['cbg'] = le.fit_transform(df['cbg'])

In [ ]:
df['tgldatang'] = pd.to_datetime(df['tgldatang'], format = '%Y-%m-%dT%H:%M:%S.%fZ', errors='coerce')
df['tglpulang'] = pd.to_datetime(df['tglpulang'], format = '%Y-%m-%dT%H:%M:%S.%fZ', errors='coerce')

In [ ]:
df['tgldatang_year'] = df['tgldatang'].dt.year
df['tgldatang_month'] = df['tgldatang'].dt.month
df['tgldatang_day'] = df['tgldatang'].dt.day
df['tgldatang_hour'] = df['tgldatang'].dt.hour
df['tgldatang_minute'] = df['tgldatang'].dt.minute

df['tglpulang_year'] = df['tglpulang'].dt.year
df['tglpulang_month'] = df['tglpulang'].dt.month
df['tglpulang_day'] = df['tglpulang'].dt.day
df['tglpulang_hour'] = df['tglpulang'].dt.hour
df['tglpulang_minute'] = df['tglpulang'].dt.minute

In [ ]:
df.drop(columns=['tgldatang', 'tglpulang'], axis=1, inplace=True)

In [ ]:
df

,id,id_peserta,dati2,typefaskes,usia,jenkel,pisat,jenispel,politujuan,diagfktp,...,tgldatang_year,tgldatang_month,tgldatang_day,tgldatang_hour,tgldatang_minute,tglpulang_year,tglpulang_month,tglpulang_day,tglpulang_hour,tglpulang_minute
4972960,5205817,6069898,51,1,28,0,1.0,2,121,11462,...,2019,7,17,17,0,2019,7,17,17,0
10890771,478976,5386227,46,2,11,0,4.0,1,0,640,...,2018,7,16,17,0,2018,7,17,17,0
1934098,1368497,6320192,112,2,48,0,1.0,2,167,2924,...,2019,2,26,17,0,2019,2,26,17,0
9371915,11397717,5507444,364,2,30,1,3.0,2,121,1686,...,2018,6,27,17,0,2018,6,27,17,0
4007663,7244025,3340328,120,2,41,1,1.0,2,167,2768,...,2018,10,3,17,0,2018,10,3,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3826708,2096276,1630386,130,23,70,1,3.0,1,0,14698,...,2020,11,24,17,0,2020,11,28,17,0
3826709,7525084,1630386,130,1,67,1,3.0,2,167,2742,...,2018,4,16,17,0,2018,4,16,17,0
3826710,2092640,1630386,130,23,70,1,3.0,1,0,81,...,2020,6,14,17,0,2020,6,17,17,0
3826711,2075609,1630390,129,24,50,0,1.0,2,162,5071,...,2019,7,24,17,0,2019,7,24,17,0
11401881,102794,8527876,12,25,0,1,4.0,1,0,10515,...,2020,12,29,17,0,2020,12,31,17,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11401882 entries, 4972960 to 11401881
Data columns (total 30 columns):
 #   Column            Dtype
---  ------            -----
 0   id                int64
 1   id_peserta        int64
 2   dati2             int64
 3   typefaskes        int64
 4   usia              int64
 5   jenkel            int64
 6   pisat             float64
 7   jenispel          int64
 8   politujuan        int64
 9   diagfktp          int64
 10  biaya             float64
 11  jenispulang       float64
 12  cbg               int64
 13  kelasrawat        int64
 14  kdsa              int64
 15  kdsp              int64
 16  kdsr              int64
 17  kdsi              int64
 18  kdsd              int64
 19  label             int64
 20  tgldatang_year    int64
 21  tgldatang_month   int64
 22  tgldatang_day     int64
 23  tgldatang_hour    int64
 24  tgldatang_minute  int64
 25  tglpulang_year    int64
 26  tglpulang_month   int64
 27  tglpulang_day     int64
 28  tglpulang_hour    int64
 29  tglpulang_minute  int64
dtypes: float64(3), int64(27)
memory usage: 2.6 GB

In [ ]:
df.to_csv('/content/gdrive/MyDrive/healthkathon/sampling_healtkathon2022/healthkathon_afterpreprocessing.csv')

#preprocessing selesai

In [ ]:
df_X = df.drop(columns=['label'])
df_X

,id,id_peserta,dati2,typefaskes,usia,jenkel,pisat,jenispel,politujuan,diagfktp,...,tgldatang_year,tgldatang_month,tgldatang_day,tgldatang_hour,tgldatang_minute,tglpulang_year,tglpulang_month,tglpulang_day,tglpulang_hour,tglpulang_minute
4972960,5205817,6069898,51,1,28,0,1.0,2,121,11462,...,2019,7,17,17,0,2019,7,17,17,0
10890771,478976,5386227,46,2,11,0,4.0,1,0,640,...,2018,7,16,17,0,2018,7,17,17,0
1934098,1368497,6320192,112,2,48,0,1.0,2,167,2924,...,2019,2,26,17,0,2019,2,26,17,0
9371915,11397717,5507444,364,2,30,1,3.0,2,121,1686,...,2018,6,27,17,0,2018,6,27,17,0
4007663,7244025,3340328,120,2,41,1,1.0,2,167,2768,...,2018,10,3,17,0,2018,10,3,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3826708,2096276,1630386,130,23,70,1,3.0,1,0,14698,...,2020,11,24,17,0,2020,11,28,17,0
3826709,7525084,1630386,130,1,67,1,3.0,2,167,2742,...,2018,4,16,17,0,2018,4,16,17,0
3826710,2092640,1630386,130,23,70,1,3.0,1,0,81,...,2020,6,14,17,0,2020,6,17,17,0
3826711,2075609,1630390,129,24,50,0,1.0,2,162,5071,...,2019,7,24,17,0,2019,7,24,17,0
11401881,102794,8527876,12,25,0,1,4.0,1,0,10515,...,2020,12,29,17,0,2020,12,31,17,0

In [ ]:
df_y = df['label']
df_y

4972960     1
10890771    1
1934098     1
9371915     1
4007663     1
           ..
3826708     0
3826709     0
3826710     0
3826711     0
11401881    0
Name: label, Length: 11401882, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, shuffle=False, train_size=1100000)

In [ ]:
y_train.value_counts()

0    943111
1    156889
Name: label, dtype: int64

#oversampling

**SMOTE**

In [ ]:
from imblearn.over_sampling import SMOTE
X_resampled2, y_resampled2 = SMOTE().fit_resample(X_train, y_train)

TypeError: ignored

In [ ]:
y_resampled2.value_counts()

1    543111
0    543111
Name: label, dtype: int64

In [ ]:
X_resampled2['label'] = y_resampled2

In [ ]:
X_resampled2.to_csv('/content/gdrive/MyDrive/healthkathon/sampling_healtkathon2022/trainset_SMOTE.csv')

**random sampling**

In [ ]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=12)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [ ]:
y_resampled.value_counts()

1    943111
0    943111
Name: label, dtype: int64

In [ ]:
X_resampled['label'] = y_resampled

In [ ]:
X_resampled.to_csv('/content/gdrive/MyDrive/healthkathon/sampling_healtkathon2022/trainset_randomoversampling2.csv')